<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authorName }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml">
  <title>{{ title }} - {{ site.name }}</title>
  <link rel="stylesheet" href="{{ site.css | url }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <header>
    {% include 'navigation/dropdown' %}
    <h1>{{ site.name }}</h1>
  </header>
  <main>
    {%- if folder %}
    <aside>
      {% include 'navigation/secondary' %}
    </aside>
    {% endif %}
    <section aria-labelledby="{{ title | slugify }}">
      {%- if tags contains 'dropdown' %}{% include 'pagination/dropdown' %}{% endif %}
      {%- if tags contains 'secondary' %}{% include 'pagination/paginate-collections' %}{% endif %}
      <h2 id="{{ title | slugify }}">{{ title }}</h2>
      {%- if description %}<p>{{ description }}</p>{% endif %}
      {{ content }}
    </section>
  </main>
  <footer>
    {%- include 'navigation/footer' %}
    {%- render 'copyright' %}
  </footer>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>