---
layout: macro-layout
---
{%- if folder %}
<aside>
    {% include 'navigation/secondary' %}
</aside>
{% endif %}
<main aria-labelledby="{{ title | slugify }}">
    {%- if tags contains 'dropdown' %}{% include 'pagination/dropdown' %}{% endif %}
    {%- if tags contains 'secondary' %}{% include 'pagination/paginate-collections' %}{% endif %}
    <h2 id="{{ title | slugify }}">{{ title }}</h2>
    {%- if description %}<p>{{ description }}</p>{% endif %}
    {{ content }}
</main>